@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html,
body,
#root,
#app {
  height: 100%;
  margin: 15px;
  font-family: "Oxygen", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  color: #141c3a;
}

#search-container {
  padding: 33px 36px 0px 36px;
  position: relative;
}

#search {
  width: 100%;
  padding: 9px 25px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

#search-icon {
  opacity: 0.5;
  position: absolute;
  top: 42px;
  left: 53px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

#search-clear-button {
  position: absolute;
  right: 42px;
  top: 36px;
  bottom: 3px;
  border: 0;
  background: none;
  color: #141c3a;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header {
  font-size: 32px;
  font-weight: bold;
  color: #141c3a;
  margin: 0;
  margin-bottom: 16px;
}